.swipeButtons {
    position: fixed;
    bottom: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

button {
    border: none;
    background: transparent;
    padding: 10px 10px;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

button:focus, button:hover {
    background-position: 0 0, 0 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: #161F6D;
}

.swipeButtons_close {
    padding: 1vw;
    color: #ff6347;
}

.swipeButtons_down {
    padding: 1vw;
    color: #00A9D8;
}

.swipeButtons_play {
    padding: 1vw;
    color: #161F6D;
}

.swipeButtons_up {
    padding: 1vw;
    color: #00A9D8;
}

.swipeButtons_done {
    padding: 1vw;
    color: #adff2f;
}

.swipeButtons_play:focus, .swipeButtons_play:hover {
    color: white;
}