.card {
    position: relative;
    width: 700px;
    padding: 20px;
    max-width: 70vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.3);
}

.card h3 {
    position: absolute;
    top: 20px;
    color: #FFFFFF;
}

.card .tags {
    position: absolute;
    top: 50px;
}

.card .description {
    position: absolute;
    bottom: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

.card .contact {
    position: absolute;
    bottom: 10px;
    word-wrap: break-word;
    color: #FFFFFF;
}

.card_container {
    display:flex;
    margin-top: 5vh;
    justify-content: center;
}

.swipe {
    position: absolute;
}